
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#object_count
{
font-size: 18px;
}

body {
    background-size: cover;
    background-position: center;

}

canvas{
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    border: 5px solid grey;
    margin-top: 30px;
}

